@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@500&family=Cinzel+Decorative:wght@700&family=Cinzel:wght@700&family=Simonetta:ital,wght@0,400;0,900;1,400;1,900&family=Bellefair&display=swap');



body {
  font-size: 16pt;
  color: white;
  font-family: "Simonetta";
  margin: 0;
}
#portals {
  margin: 10px;
}
::selection {
  background-color: #42b9b988;
}
a[href] {
  color: inherit;
  text-decoration: none;
}
p a[href], dt a[href] {
  text-decoration: dotted white underline;
  -webkit-text-decoration: dotted white underline;
}
emph {
  font-weight: bolder;
}
h1 {
  font-size: calc(max(20px, min(7.5vw, 8vh, 45px)));
  margin-bottom: 0px;
  line-height: 1;
  font-family: 'Cinzel Decorative';
  text-align: center;
  color: #dff5ed;
  transition: color 0.6s;
  cursor: pointer;
}
h1:hover {
  color: #3bf142;
}
h1 + p, h1 + p + p {
  font-family: 'Simonetta';
  font-style: italic;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
}
#portals > * {
  margin-top: 2em;
  border-top: 1px solid #86cad1;
  padding-top: 2em;
}
hr {
  border-color: #86cad1;
  border-style: solid;
  border-width: 1px;
  border-bottom: none;
}
#portals > * > * {
  margin: auto; text-align: center;
}
#portals > * > h5:not(.subtitle) {
  padding-left: 10%;
  text-align: left;
}
#portals > * > a > img {
  width: calc(min(90vw, max(100px, 70vh - 70px)));
  height: calc(min(90vw, max(100px, 70vh - 70px)));
  display: block; margin: auto;
  border-radius: 50%;
}
#portals > * > img {
  max-width: 90vw;
  max-height: calc(max(100px, 70vh - 70px));
  display: block; margin: auto;
}
h2 {
  font-size: 34pt;
  font-family: "Alegreya";
  font-weight: 500;
  color: white;
  transition: color 0.6s;
}
h2:hover {
  color: #86cad1;
}
h3 {
  font-size: 30pt;
  font-family: "Alegreya";
  font-weight: 500;
}
h4 {
  font-size: 22pt;
}
h5 {
  font-size: 18pt;
}
#demed > h2:hover {
  color: #ee94b9;
}
#monoidmusician > h2:hover {
  color: #3bf142;
}
#violonscheelist > h2:hover {
  color: #d06f46;
}

#logo {
  transform: rotate(0deg);
  transition: transform 0.6s;
  cursor: pointer;
  border-radius: 50%;
}
#logo:hover {
  transform: rotate(0deg);
}

#portals ul, #portals ul li, #portals ul ul li {
  margin: 0;
  padding: 0;
  text-indent: 0;
  list-style-type: none;
}
#portals ul {
  font-size: 20pt;
}
#portals li::before, #portals li::after {
  content: " • ";
}

#portals .desc, .longform p {
  padding: 0 5%;
  margin: auto;
  text-align: justify;
}
#portals .desc {
  padding: 0 10%;
}
.longform p:not(:first-child) {
  text-indent: 3em;
}
.longform p {
  line-height: 1.4;
}
h1 + .desc p:first-child,
h2 + .desc p:first-child,
h3 + .desc p:first-child,
h4 + .desc p:first-child,
h5 + .desc p:first-child {
  margin-top: 0;
  margin-block-start: 0;
}

@media (max-device-width: 600px) {
  #portals .desc, .longform p {
    text-align: left;
  }
  .longform p:not(:first-child) {
    text-indent: 2em;
  }
  .longform p, .desc p {
    margin-bottom: 0.5ex;
  }
}

div.poem {
  white-space: pre-line;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 700px;
}
div.poem p {
  text-align: left;
  margin: 0;
  margin-top: -2ex;
}

dt {
  line-height: 1.2;
}
.info {
  font-size: 80%;
  font-style: italic;
}
dd {
  margin-bottom: 1.5em;
  margin-top: 0.5em;
  margin-inline-start: calc(2em - 10px);
  font-family: Bellefair;
  font-size: 85%;
  border-left: 2px solid #86cad1;
  padding-left: 8px;
  line-height: 1.1;
}
dd a[href] {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
  -webkit-text-decoration: underline;
  -webkit-text-decoration-thickness: 1px;
  -webkit-text-underline-offset: 2px;
}

@media (max-device-width: 600px) {
  dd {
    margin-bottom: 2.5em;
  }
}
